*,
html{
  padding: 0;
  margin: 2;
}

body
{
background-color: white;
}

.ContainerNavbar{
background-color: pink;
  height: 100px;
}

.ulNavbar{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.liNavbar{
  border: 1px solid black;
  background-color: white;
  list-style: none;
  padding: 5px;
  margin: 5px;
  color: red;
}

.gambar-furina{
  height: 20%;
  width: 20%;
}

.gambar-blackswan{
  margin: 5px;
  height: 50%;
  width: 50%;
}