*,
html{
  padding: 0;
  margin: 0;
}

body
{
background-color: white;
}

.ContainerNavbar{
background-color: pink;
  height: 10vh;
}

.ulNavbar{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.liNavbar{
  border: 1px solid black;
  background-color: white;
  list-style: none;
  padding: 5px;
  margin: 5px;
  color: red;
}

.gambar-furina{
  height: 20%;
  width: 20%;
}

.gambar-blackswan{
  margin: 5px;
  height: 50%;
  width: 50%;
}

.container-content {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container-footer{
  background-color: crimson;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}